body {
  background-color: red;
  font-family: Arial;
  text-align: beside;
}

h1 {
  color: darkred;
}

p {
  font-size: 20px;
}
button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}body {
  margin: 0;
  text-align: center;
}
